/* styles.css */
body {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  text-align: center;
}

h1 {
  font-weight: 400
}

.intro  {
  border-color: black;
  border-style: solid;
}

#user-guess {
  width: 175px;
  text-align: center;
}
