/* styles.css */
body {
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 300;
  text-align: center;
  background-color: aquamarine;
}

h1 {
  font-weight: 400
}

.intro  {
  border-color: black;
  border-style: solid;
}

#user-guess {
  width: 175px;
  text-align: center;
}

ul {
  list-style: none;
}

li {
  font-weight: bolder;
  font-size: 23px;
  font-family: 'Fredoka One', cursive;
}

button {
  border: 0;
  height: 75px;
  width: 75px;
  line-height: 3;
  padding: 0 20px;
  margin: 5px;
  border-radius: 50%;
  background-color: #FF86B2;
  box-shadow:
    inset 2px 2px 3px rgb(255 255 255 / 0.6),
    inset -2px -2px 3px rgb(0 0 0 / 0.6);
}

button:hover {
  background-color: crimson;
  height: 200px;
  width: 200px;
}

.good-guess {
  background-color: green;
}

.bad-guess {
  background-color: red
}